body{
    background-image: url(/cerberus-featured-1.png);
    background-repeat: no-repeat;
    width: 1800px;
}

.first{
    background-color: pink;
    order: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 150px;
    height: 20px;
}
.second{
    background-color: blue;
    order: 4;
    width: 150px;
    height: 20px;
}

.holder{
    border: 1px black solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
}

.third{
    background-color: purple;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    order: 3;
    width: 150px;
    height: 20px;
}

.fourth{
    background-color: green;
    order: 5;
    width: 150px;
    height: 20px;
}

.fifth{
    background-color: yellow;
    order: 2;
    width: 150px;
    height: 20px;
}

.before-test::after{
    content: "" ;
    width: 125px;
    height: 25px;
    background-size: contain;
    
}

.before-test::after{
    display: none;
    background-image: url(./telegram-logo.png);
    background-repeat: no-repeat;
    background-size: 25px;
}

.before-test:hover::after{
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.list-for-test li{
    list-style: none;
    font-size: 25px;
}

.background{
    background-image: url(/Roblox\ Transparent\ Background\ png\ anime\ download.png);
    width: 1800px;
    height: 1200px;
    background-repeat: no-repeat;
}

.fortnite{
    color: purple;
    font-size: 25px;
justify-content: center;
    display: flex;
}

.pleasant-park{
    background-image: url(/HD-wallpaper-fortnite-blue-logo-blue-neon-lights-creative-blue-abstract-background-fortnite-logo-online-games-fortnite.jpg);
    width: 800px;
    height: 500px;
}

.hh{
    color: white;
}